
.NPR-MUSIC-1-hex { color: #A61C28; }
.NPR-MUSIC-2-hex { color: #D97EC0; }
.NPR-MUSIC-3-hex { color: #8C2E7D; }
.NPR-MUSIC-4-hex { color: #222559; }
.NPR-MUSIC-5-hex { color: #F2A03D; }

html{
    background: #D97EC0;
    color:#222559;
    font-size: 21px;
    font-family: sans-serif;
}
p{
    text-indent: 1em;
}
h1, h2, h3{
    text-align: center;
}
h1{
    font-size: 1.8rem;
}
h2{
    font-size: 1.4rem;
}
h3{
    font-size: 1.2rem;
}
.summary{
    text-align: center;
}
.main p{
    line-height: 1.5;
}
abbr{
    font-variant: small-caps;
}